@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #240229;
}

.circle {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: linear-gradient(#14ffe9, #ffe23b, #ff00e0);
    /* animation: animate 5s linear infinite; */
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.circle span {
    position: absolute;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    background: linear-gradient(#14ffe9, #ffe23b, #ff00e0);
    animation: animate 5s ease-in-out infinite;
}

.circle span:nth-child(1) {
    filter: blur(5px);
}

.circle span:nth-child(2) {
    filter: blur(10px);
}

.circle span:nth-child(3) {
    filter: blur(25px);
}

.circle span:nth-child(4) {
    filter: blur(50px);
}

.circle::after {
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    /* background: #240229; */
    background: #eee;
    border-radius: 50%;
    filter: blur(20px);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000;
    z-index: 1;
    font-family: 'Fira Code', monospace;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, );
}

.circle::after:focus {
    background-color: #FF5733;
}

.content h1 {
    font-size: 24px;
}

.content p {
    font-size: 16px;
    margin-top: 10px;
}

.join {
    display: inline;
    text-decoration: none;
    margin-right: 10%;
    width: 8px;
    height: 24px;
    color: #000;
}

.cursor {
    color: #000;
    display: inline-block;
    width: 8px;
    height: 24px;
    left: -100px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}